<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <header class="container">
      <section>
        <header class="messages"></header>
        <section class="diamondsweeper-board">
            
              <% for(var i=0; i<data.length; i++) {%>
                  <div class="cell unknown" data-cell=<%= i%> onclick="selectedCell(this)"></div>
               <% } %>

        </section>
      </section>
    </header>
    <footer>
      <button onclick="restartGame()">Restart Game</button>
    </footer>
    <script type="text/javascript">startApp(document.getElementById("container"));</script>
  </body>
</html>
